{% extends "base.html" %}

{% block content %}
<style>
    /* Table */
    table {
        border-collapse: collapse;
        width: 100%;
        max-width: 800px;
        margin: 20px auto;
        background-color: #f8f8f8;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

    /* Table Header */
    th {
        background-color: #333;
        color: white;
        font-weight: bold;
        font-size: large;
        padding: 10px 20px;
        text-align: left;
        border-bottom: 2px solid #444;
    }

    /* Table Rows */
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    li:hover {
        background-color: #fefcfc;
        font-size: large;
    }

    /* Table Data Cells */
    td {
        padding: 10px 20px;
        border-bottom: 1px solid #ddd;
        color: #333;
    }
</style>
<h1 style="font-size: x-large; font-weight: bold;">Flight Search Results</h1>
<table>
    <tr>
        <th style="color: white; text-align: center;">Outgoing</th>
        <th style="color: white; text-align: center;">Return</th>
    </tr>
    <tr>
        <td>
            {% if flight_data %}
            <ul>
                {% for offer in flight_data %}
                <li onclick="selectOffer(this, {{loop.index0}})">
                
                    <strong>Company:</strong> {{ offer['itineraries'][0]['segments'][0]['carrierCode'] }}<br>
                    <strong>Company (Name):</strong> <span id="carrierCodeGo{{ loop.index0 }}">{{ airlines[loop.index0] }}</span><br>
                    <strong>Price:</strong> <span id="priceGo{{ loop.index0 }}">{{ offer['price']['total'] }} </span> {{ offer['price']['currency'] }}<br>
                    <strong>Duration:</strong> {{ offer['itineraries'][0]['duration'] | duration_formatter }}<br>
                    <strong>Departure Airport (Name):</strong> {{ departures[loop.index0] }}<br>
                    <strong>Departure Airport:</strong> {{ offer['itineraries'][0]['segments'][0]['departure']['iataCode'] }}<br>
                    <strong>Departure Time:</strong> {{ offer['itineraries'][0]['segments'][0]['departure']['at']|format_datetime }}<br>
                    <strong>Arrival Airport (Name):</strong> {{ arrivals[loop.index0] }}<br>
                    <strong>Arrival Airport:</strong> {{ offer['itineraries'][0]['segments'][-1]['arrival']['iataCode'] }}<br>
                    <strong>Arrival Time:</strong> {{ offer['itineraries'][0]['segments'][-1]['arrival']['at']|format_datetime }}<br>
                    <strong>Number of Stops:</strong> {{ offer['itineraries'][0]['segments'][0]['numberOfStops'] }}<br>
                    <strong>Instant Ticketing Required:</strong> {{ offer['instantTicketingRequired'] }}<br>
                    <strong>Number of Bookable Seats:</strong> {{ offer['numberOfBookableSeats'] }}<br>
                    <strong>Non-Homogeneous:</strong> {{ offer['nonHomogeneous'] }}<br>
                    <strong>One Way:</strong> {{ offer['oneWay'] }}<br>
                    <strong>Last Ticketing Date:</strong> {{ offer['lastTicketingDate'] }}<br>
                    <strong>Validating Airline Codes:</strong> {{ offer['validatingAirlineCodes']|join(', ') }}
                </li>
                <hr>
                {% endfor %}
            </ul>
            </td>
        <td>
            {% if flight_data %}
            <ul>
                {% for offer in flight_data_return %}
                <li onclick="selectOffer(this, {{loop.index0}})">
                    <strong>Company:</strong> {{ offer['itineraries'][0]['segments'][0]['carrierCode'] }}<br>
                    <strong>Company (Name):</strong> <span id="carrierCodeReturn{{ loop.index0 }}">{{ airlinesReturn[loop.index0] }}</span><br>
                    <strong>Price:</strong> <span id="priceReturn{{ loop.index0 }}">{{ offer['price']['total'] }} </span> {{ offer['price']['currency'] }}<br>
                    <strong>Duration:</strong> {{ offer['itineraries'][0]['duration'] | duration_formatter }}<br>
                    <strong>Departure Airport (Name):</strong> {{ departuresReturn[loop.index0] }}<br>
                    <strong>Departure Airport:</strong> {{ offer['itineraries'][0]['segments'][0]['departure']['iataCode'] }}<br>
                    <strong>Departure Time:</strong> {{ offer['itineraries'][0]['segments'][0]['departure']['at']|format_datetime }}<br>
                    <strong>Arrival Airport (Name):</strong> {{ arrivalsReturn[loop.index0] }}<br>
                    <strong>Arrival Airport:</strong> {{ offer['itineraries'][0]['segments'][-1]['arrival']['iataCode'] }}<br>
                    <strong>Arrival Time:</strong> {{ offer['itineraries'][0]['segments'][-1]['arrival']['at']|format_datetime }}<br>
                    <strong>Number of Stops:</strong> {{ offer['itineraries'][0]['segments'][0]['numberOfStops'] }}<br>
                    <strong>Instant Ticketing Required:</strong> {{ offer['instantTicketingRequired'] }}<br>
                    <strong>Number of Bookable Seats:</strong> {{ offer['numberOfBookableSeats'] }}<br>
                    <strong>Non-Homogeneous:</strong> {{ offer['nonHomogeneous'] }}<br>
                    <strong>One Way:</strong> {{ offer['oneWay'] }}<br>
                    <strong>Last Ticketing Date:</strong> {{ offer['lastTicketingDate'] }}<br>
                    <strong>Validating Airline Codes:</strong> {{ offer['validatingAirlineCodes']|join(', ') }}
                </li>
                <hr>
                {% endfor %}
                {% endif %}
            </ul>
            </td>
    </tr>
</table>
<button id="postdata" onclick="submitData()">Post</button>;

{% else %}
<p>{{ error }}</p>
{% endif %}



<script>

  document.getElementById('postdata').addEventListener('click', function() {
      // Determine the selected index based on the clicked <li> element
      let selectedLi = document.querySelector('li.selected');
      let selectedLiReturn = document.querySelector('li.selected-return');
      if (selectedLi && selectedLiReturn) {
          let index = selectedLi.dataset.index;
          let carrierCodeGo = document.getElementById("carrierCodeGo" + index).textContent;
          let priceGo = document.getElementById("priceGo" + index).textContent;
      
          let indexReturn = selectedLiReturn.dataset.index;
          let priceReturn = document.getElementById("priceReturn" + indexReturn).textContent;
          let carrierCodeReturn = document.getElementById("carrierCodeReturn" + indexReturn).textContent;
          
          redirectToOtherPage(carrierCodeGo, index, priceGo, priceReturn, indexReturn, carrierCodeReturn);
          console.log(index);
      } else {
          alert("No offer selected.");
      }
  });

  
  function selectOffer(liElement, index) {
      // Remove the selection class from all <li> elements
      let allLiElements = document.querySelectorAll('li');
      allLiElements.forEach((element) => {
          element.classList.remove('selected');
      });
      
      // Add the selection class to the clicked <li> element
      liElement.classList.add('selected');
  }


  function redirectToOtherPage(carrierCodeGo, index, priceGo, priceReturn, indexReturn, carrierCodeReturn) {
      window.location.href = "{{ url_for('main.total') }}?carrierCodeGo=" + carrierCodeGo + "&index=" + index + "&priceGo=" + priceGo + "&priceReturn=" + priceReturn + "&indexReturn=" + indexReturn + "&carrierCodeReturn=" + carrierCodeReturn; 
  }
</script>


{% endblock %}
